<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Student Records</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
       <div class="col-3 border-end" style="min-height: 100vh;">
    <nav class="flex-grow-1 p-2">
      <div class="mb-3">
        <div class="text-uppercase text-muted small px-2 mb-2">Main</div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lowperformance"> Low Performance</a>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <div class="text-uppercase text-muted small px-2 mb-2">
          Software Engingeering
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/se">Class List – Software Engineering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passedse">Pass – Software Engineering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/failedse">Fail – Software Engineering</a>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <div class="text-uppercase text-muted small px-2 mb-2">Programming</div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/programming">Class List – Programming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passedprogramming">Pass – Programming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/failedprogramming">Fail – Programming</a>
          </li>
        </ul>
      </div>
      <div class="mb-3">
        <div class="text-uppercase text-muted small px-2 mb-2">
          Appication Architectures
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/aadp"
              >Class List – Appication Architectures</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passedaadp"
              >Pass – Appication Architectures</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/failedaadp"
              >Fail – Appication Architectures</a
            >
          </li>
        </ul>
      </div>
      <div class="mb-3">
        <div class="text-uppercase text-muted small px-2 mb-2">
          Web Development
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/webdev">Class List – Web Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passedwebdev">Pass – Web Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/failedwebdev">Fail – Web Development</a>
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <div class="text-uppercase text-muted small px-2 mb-2">Data</div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/api">All Students (JSON)</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

